/* <-----------Main-Page--------> */
.navbar{
  position: fixed;
  margin-left: 10%;
}
.cont{
  display: flex;
  gap: 300px;
  align-items: center;
  justify-content: center;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}
.nav_it{
  justify-content: center;
}

.nav_it>a{
  text-decoration:none;
  color: #fcfcfc;
  font-size: 30px;
  align-items: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.nav_it>a:hover{
  color: #8EA56C;
}
/* Common class for all three divs */
.bgc1{
  background-color: #1e1e1e;
  height: 70px;
  width: 100px;
  border-radius: 30px;
  margin: 0;
}
/* Format for stocksure box */
.bgs_ss{
  text-align: center;
  width: 170px;
  padding-top: 10px;
}
.ss>a{
  text-decoration: none;
}
.ss_p{
  margin: 0;
  color: #fcfcfc;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ss_p>span{
  color: #8EA56C;
}
/* format for nav bar */
.bgs_nav{
  width: 600px;
}

/* format for btn */
.bgs_si{
  color: #fcfcfc;
  font-size: 30px;
  text-align: center;
  width: 120px;
  padding: 0;
  height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: all 0.2s ease-in-out;
}

.bgs_si:hover{
  color: #8EA56C;
}

.nav_si{
  background-color: #000;
  border-radius: 30px;
}
/* <--------------------------Header-------------------------------> */
#Home{
  background-color: #000;
}
.tag_home{
  height: 851px;
  padding-top: 100px;
}
h1{
  font-size: 100px;
  text-align: center;
  color: #fcfcfc;
}
.header_p{
  text-align: center;
  color: #fcfcfc;
  font-size: 30px;
}
/* <------------About Us-----------------------------------> */
.about{
  background-color: #fcfcfc;
  height: 550px;
  display: flex;
}
.about_text{
  margin: 60px;
  margin-left: 110px;
  padding: 30px;
}
.about_h2{
  font-size: 40px;
  font-weight: 500;
}
.about_p{
  margin-top: 50px;
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  font-family: sans-serif;
}
.about_img{
  float: right;
  padding: 30px;
  margin: 60px;
  margin-right: 200px;
  border: 10px;
  border-color: black;
  
}
.about_img>img{
  border-radius: 60px;
  height: 400px;
  width: 400px;
}
.about_img_after_text{
  margin-top: 30px;
}
/* <-------------------------Explore-------------------------> */
#Explore{
  height: 2000px;
  margin: 0px;
}
.explore{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
}
.explore_header>p{
  color: #000;
  font-size: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 400;
}
.bgc{
  margin-top: 100px;
  background-color: #e4f1d0;
  height: 500px;
  width: 80%;
  border-radius: 40px;
  padding: 30px;
  padding-top: 100px;
}
.egt{
  text-align: justify;
  font-size: 40px;
  margin-bottom: 30px;
}
.egt_head{
  font-weight: 600;
}
.invest>.egt>span{
  color: rgb(193, 193, 47);
}
.ega{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.learn{
  background-color: beige;
}
.learn>.egt>span{
  color: rgb(185, 115, 115);
}
.predict{
  background-color:#eae0fe;
}
.predict>.egt>span{
  color: rgb(240, 84, 110);
}


/* <-----------------------footer-----------------------> */
.footer{
  background-color: #000;
  height: 300px;
  padding-top: 70px;
}
.foot{
  display: flex;
  justify-content: center;
  gap: 20px;  
}
hr{
  margin-top: 70px;
  color: #fcfcfc;
  font-weight: 200;
}
li>a{
  text-decoration: none;
  color: #fcfcfc;
  font-size: 30px;
}
.footer-text{
  text-align: center;
  color: #fcfcfc;
  font-size: 15px;
}
.footer_company{
}
.circle{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
}
.circle>li{
  background-color: #1e1e1e;
  font-size: 40px;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #3d3d3d;
}

/* <----------------------END------------------------------> */

@media(max-width: 1500px){
  .about{
      height: 1000px;
      flex-direction: column;
      align-items: center;
  }
  .about_h2{
      text-align: center;
  }
  .about_text{
      margin-bottom: 0px;

  }
  .about_p{
      margin-bottom: 0px;
  }
  .about_img{
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 110px;
      margin-right: 60px;   
  }
  .navbar{
  }
  #header{
      height: 300px;
      background-color: #000;
  }
  .cont{
      flex-direction: row;
      gap: 100px;
  }
}
  /* <----------about---------> */
  #Explore{
      height: 2200px;
  }
  .explore{
      margin-top: 30px;
     
  }
  .bgc{
      height: 580px;
  }

/*<----------------Learn---------------> */
*{
  margin: 0;
}
.learn2{
  background-color: #fcfcfc;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn2>h1{
  margin-top: 100px;
  color: #000;
  border-radius: 60px;
}
.word{
  font-size: 30px;
  text-align: justify;
}
.lea{
  height: 400px;
  padding-top: 30px;
}
.lea_q{
  margin-top: 0px;
}
.green{
  background-color: #e4f1d0;
}
.beige{
  background-color: beige;
}
.green>.lea_q>span{
  color: #8EA56C;
}
.beige>.lea_q>span{
  color: #b97373;
}
li.word>span{
  font-weight: bold;
}
li.fi>span{
  font-weight: 200;
}
.learn_p{
  font-size: 40px;
  margin-top: 40px;
  color: #000
}